<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>{{ title }} — p11ty</title>

{# <meta name="description" content=""> #}

{# Preload styles #}
{# <link rel="preload" href="./styles/index.css" as="style"> #}

{# Preload fonts #}
{# <link rel="preload" href="/Cambon-Demi.woff2" as="font" type="font/woff2" crossorigin> #}

{# Preload scripts #}
{# <link rel="preload" href="./scripts/main.js" as="script"> #}

{# Facebook Open Graph #}
{# <meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:site_name" content="">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="">
<meta property="og:image:secure_url" content="">
<meta property="og:image:alt" content="">
<meta property="og:image:width" content="">
<meta property="og:image:height" content=""> #}

{# Twitter Card #}
{# <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
<meta name="twitter:image:alt" content=""> #}

{# Favicons #}
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📦</text></svg>">

<script type="module" src="/_site/scripts/main.js"></script>
<link rel="stylesheet" href="/_site/styles/main.scss">